.matches {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
    padding: 3vh;
    margin-left: 1vh;
    margin-right: 1vh;
    border-top: 3px solid pink;
    border-radius: 5px;

}



.draw {

    width: 10vh;
    height: 10vh;
    border: 2px dotted rgba(166, 14, 143, 0.365);
    border-radius: 80px;
    transition: width 3s, height 4s;
}

.draw:hover {
    width: 20vh;
    height: 20vh;
}

.users {
    color: rgb(223, 0, 238);

    background-color: #a417982b;
    opacity: 0.1;
}