.card {
    position: relative;
    width: 300px;
    padding: 20px;
    max-width: 85vw;
    height: 65vh;
    border-radius: 20px;
    background-size: cover !important;
    background-position: center !important;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
    margin-top: 4vh;
    margin-left: 5vh;


}

.tinderCards_cardsContainer {
    display: flex;
}

.swipe {
    position: absolute;
}

h3 {
    text-align: center;
    margin-top: 360px;
    font-size: 30px;
}