.card {
    position: relative;
    width: 300px;
    padding: 20px;
    max-width: 85vw;
    height: 65vh;
    border-radius: 20px;
    background-size: cover !important;
    background-position: center !important;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
    margin-top: 4vh;
    margin-left: 5vh;


}

.tinderCards_cardsContainer {
    display: flex;

}

.swipe {
    position: absolute;
}


body {
    padding: 0 !important;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

.card h2 {
    font-weight: 700;
    font-size: 40px;
    text-align: start;
    color: rgb(222, 222, 222);
}

.card p {
    text-align: start;
    font-size: 1.2rem;
    color: aliceblue;
    font-weight: 400;
}

.title-card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-card>p {
    font-size: 30px;
    font-weight: 400;
    margin-top: 2vh;
    margin-left: 4vw;
}