.slider-align {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3vh;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    border-radius: 50px;
    opacity: 0.9;

}

.slide {
    display: flex;
    height: 75vh;
    width: 80vw;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}

.carousel-indicators {
    justify-content: space-around;
}

.carousel-indicators [data-bs-target] {
    height: 30px;
    border-radius: 50%;
    background-color: pink;
}

.carousel-item {
    height: 200px;

}

.sliderLetters {
    position: sticky !important;
    color: #df20af;


    border-radius: 20px;

}

.registerButton {



    align-self: center;
    background-color: rgb(223, 120, 199);
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 20px;

}

h3 {
    font-size: 1.6rem;
    font-weight: 700;
}

.sliderLetters p {
    font-size: 1.15rem;
    font-weight: 500;
}

.AppBackground {
    background-image: url(/public/Background2.png);
    background-repeat: round;
    background-size: cover;

    min-height: 100vh;
}