@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
}

label {
    font-size: 1.2em;
    font-weight: 700;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: center;

}

.main-content input {
    border-radius: 0;
    margin: 3vh 0 10vh 0;
    border: 0px;
    border-bottom: solid 2px pink;
}


.link-signup {
    font-size: 1em;
    margin-top: 10vh
}

.main-content-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

.input-color input {
    border-radius: 0;
    margin: 3vh 0 10vh 0;
    border: 0px;
    border-bottom: solid 2px pink;
}

.flex-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    padding-bottom: 2vh;
    text-align: center;
}

.logout-btn {

    padding: 10px;
    background-color: rgb(25, 25, 25);
    color: white;
    border-radius: 20px;
    margin-right: 8vw;
}

.btn-primary {
    color: black;
    border: none;
    margin: 0em 1.2em 0.5em 1.2em;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    font-weight: 600;
}

.signup-button {
    margin-top: 10px;
}

/* .logo-div {
    border: 3px solid pink;
    border-radius: 50px;
    width: 20%;

} */

.checkboxes>input {
    padding: 0;
    margin: 0;
}

.checkboxes label {
    font-size: 1em;
    font-weight: 400;
    margin-right: 2vw;

}

.checkboxes {
    display: flex;
    flex-direction: row;
}

.box {
    text-align: start;
    border: 2px solid #eee;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 #eee;
    margin: 2vh 1vw 0 1vw;
    padding: 20px 8px;
    width: 40vw;
}

.editButtons {
    padding-top: 20vh;
}

.dropdown {
    text-align: center;
}

.title-edit {
    font-size: 1.5rem;
    margin: 5vh
}

.singleword {
    font-size: 1.5rem;
    font-weight: 700;
}